# React Native / Node
node_modules/
npm-debug.log
yarn-error.log
.pnp.*

# Metro
.metro-health-check*
metro.config.js.bak

# iOS
ios/Pods/
ios/build/
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
!debug.keystore

# Misc
.DS_Store
*.log
